:root{
    --var: #ddd;
    --var: #228;
    --var: #000;
}


*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", "Arial", sans-serif; 
    /* overflow: scroll; */    
}

body{
    background-color:#ddd;    
   
    
}

.cabecalho{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: row;
    background-color: #ddd;
    margin: 50px;
}

.logo{
    background-color: blueviolet;
    display: flex;
    align-items:center;
    border-radius: 30px;
    margin-right: 10px;        
    /* justify-content: space-between; */
    width: 60px;
    height: 60px;
}

.meuMundo p{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color:#228;
    margin-right: 400px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 200px;

}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    margin: 0px 0px 0px 50px; 
}

/* @media screen and (min-width:600px) {
    .principal{
        width: 40%;
       }
    .ifPrincipal{
        width: 40%;
    } 
    body{background-color: red;} 

    
} */
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100vh;  
    margin: 0px 0px 0px 50px;       
}

.aba{
    display: flex;
    justify-content: center;
    background-color: #228;
    color: #fff; 
    text-transform: uppercase; /*gerar texto todo em maíusculo */
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-right: 1px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    
}

.aba:hover{
    color: #999;
}

.abaSelecionada{
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
    color: #999;
    padding: 10px;   
    border-radius: 10px 10px 0 0;  
    margin-right: 1px;
    width: 120px;
    cursor: pointer;
}

.abaSelecionada:hover{
    color: #ddd;
}

.ifPrincipal{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;   
    /* border: 1px solid red; */
}

