/* .gridSuperior{
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 100px 250px;
   grid-template-areas: 'titulo'
                        'graficoDiario graficoDiario graficoDiario';                        
   gap: 10px;
}
.gridInferior{
   display: grid;
   grid-template-columns: 33%;
   grid-template-rows: 250px;
   grid-template-areas: 'notificacoes calendario graficoPizza';
   gap: 10px;
   
} */

/* .b{
   display: grid;
   grid-template-columns: 250px 250px 250px;
   grid-template-rows: 100px 250px 250px;
   grid-template-areas: 'titulo titulo titulo'
                        'graficoDiario graficoDiario graficoDiario'
                        'notificacoe calendario graficoPizza';                        
   gap: 10px;
} */
.grid{
   display: grid;
   grid-template-columns: 300px 300px 300px ;
   grid-template-rows: 50px 250px 250px;
   grid-template-areas: 'titulo titulo titulo'
   'graficoDiario graficoDiario graficoDiario'
   'calendario graficoPizza notificacoe';  
   gap: 10px;
}
.titulo{
   grid-area: titulo;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 2px #999;
   color: black;
}
.graficoDiario{
   grid-area: graficoDiario;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: solid 2px #999;
   color: black;
}
.notificacoe{
   grid-area: notificacoe;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   color: black;
   border-radius: 10px;
   border: solid 2px #999;
}
.calendario{
   grid-area: calendario;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: solid 2px #999;   
}
.graficoPizza{
   grid-area: graficoPizza;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   border-radius: 10px;
   border: solid 2px #999;
}

.graficoPizza{
  
}
.imgHome{
   width: 200px;
   height: 100px;
} 

.relogio{
   
   display: flex;
   flex-wrap: wrap;
   /* justify-content: center; */
   align-items: center;
   flex-direction: left;
   background-color: #228;
   padding: 0px 20px;
   border-radius: 10px 10px;
   width: 140px;
   /* height: 50px; */
}

.relogio span{
   
   /* margin: 0px 10px 0px 10px; */
   display: flex;
   align-items: center;
   /* gap 50px; */
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   height: 40px;
}

.relogio span:not(:last-child)::after{
   content: ':';
   margin: 15px;
   color: #fff;
}